body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.site-navigation li,
.shop-info li {
  list-style: none;
}

.wrapper {
  min-width: 900px;
  background-color: #849d8f;
  background-image: url("../img/main-fon-bg1.png");
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.inner-page {
  min-width: 900px;
  background-color: #849d8f;
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
  box-sizing: border-box;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.site-navigation a,
.user-navigation a,
.contacts a {
  color: #fff;
}

.site-navigation  {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  display: flex;
  min-width: 413px;
  max-width: 716px;
  padding-top: 15px;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 2;
  position: relative;
}

.dropdown-menu {
  position: absolute;
  display: none;
}

.site-navigation a {
  margin: 10px 0 10px 15px;
  padding: 8px 15px 10px 15px;
}

.user-navigation {
  font-size: 14px;
  line-height: 16px;
  width: 270px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  position: relative;
}

.site-navigation a:hover {
  color: #333333;
  background-color: #f7f6f3;
  border-radius: 20px;
  text-decoration: none;
}

.site-navigation a:active {
  box-shadow: inset 0 2px 2px rgba(105, 105, 105, 1);
}

.site-navigation .current {
  background-color: #d07058;
  border-radius: 20px;
  text-decoration: none;
}

/*.dropdown-menu > li {
  font-weight: 400;
  color: #323232;
  font-size: 14px;
  line-height: 16px;
}

.dropdown-menu > b {
  font-weight: 700;
}
.navigation  ul {
  padding: 0;
}*/

.user-navigation > a {
  margin: 10px 0 10px 10px;
  padding: 10px 15px 10px 15px;
  background-color: #9fb3a8;
  border-radius: 17px;
  text-decoration: none;
}

.user-navigation > p {
  text-align: right;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  margin: 0;
  margin-top: 20px;
}

nav span {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

.user-navigation .search {
  position: relative;
  text-indent: -2000px;
  margin: 0;
  padding: 0;
  min-width: 34px;
  min-height: 34px;
  border-radius: 50%;
}

.search::before {
  content:"";
  display: block;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #9fb3a8;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  position: absolute;
}

.search + form {
  display: none;
  width: 345px;
  min-height: 85px;
  box-sizing: border-box;
  position: absolute;
  top: 50px;
  right: 210px;
  background-color: #f8f7f4;
  padding: 20px 15px 0 15px;;
  border-radius: 5px;
}

.search + form input {
  width: 315px;
  height: 45px;
  padding-left: 15px;
  border: #d3d3d2 1px solid;
  border-radius: 5px;
  margin-bottom: 20px;
}

.search:hover + form {
  display: block;
}

.search:hover::before {
    background-image: url("../img/search-1.svg");
    background-color: #f8f7f4;
}


.user-navigation .enter {
  position: relative;
  padding-left: 45px;
}

.enter::before {
  content:"";
  background-image: url("../img/enter.svg");
  background-repeat: no-repeat;
  position: 0 0;
  width: 21px;
  height: 20px;
  position: absolute;
  left: 15px;
  top: 8px;
}

.enter + form {
  display: none;
  background-color: #f8f7f4;
  position: absolute;
  top: 50px;
  left: -120px;
  width: 280px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
}

.user-navigation form:nth-of-type(2) input{
  width: 240px;
  height: 44px;
  border-radius: 5px;
  box-sizing: border-box;
}

.user-navigation input[type="email"],
.user-navigation input[type="password"] {
  border: #d3d3d2 1px solid;
  padding-left: 10px;
  margin-bottom: 20px;
}

.user-navigation  button {
  width: 100px;
  height: 46px;
  border-radius: 23px;
  font-size: 18px;
  line-height: 24px;
  padding: 0;
  float: left;
  margin-right: 20px;
}

.user-navigation div {
  display: flex;
  flex-wrap: wrap;
  width: 120px;
  padding: 0;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

.enter + form a {
  margin: 0;
  padding: 0;
  text-decoration: underline;
  color: #323232;
}

.enter:hover {
  color: #323232;
  background-color: #f8f7f4;
}

.enter:hover::before {
  background-image: url("../img/enter-1.svg");
}

.enter:hover + form {
  display: block;
}

.user-navigation .basket {
  position: relative;
  padding-left: 45px;
}

.basket::before {
  content:"";
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  position: 0 0;
  width: 21px;
  height: 20px;
  position: absolute;
  left: 17px;
  top: 9px;
}

.user-navigation .basket-with {
  position: relative;
  padding-left: 45px;
}


.basket-with::before {
  content:"";
  background-image: url("../img/basket-full.svg");
  background-repeat: no-repeat;
  position: 0 0;
  width: 21px;
  height: 20px;
  position: absolute;
  left: 17px;
  top: 7px;
}
/*--------------Кнопки--------------*/
 button,
.button {
  display: inline-block;
  padding: 12px 44px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.button:hover,
button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active,
  button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

/* --------------Slider-------------- */
.wrapper::before,
.wrapper::after {
  content: "";
  visibility: hidden;
}

.wrapper::before {
  background-image: url("../img/main-fon-bg2.png");
}

.wrapper::after {
  background-image: url("../img/main-fon-bg3.png");
}

.slider {
  position: relative;
  padding-top: 270px;
  margin-bottom: 40px;
  text-align: center;
  color: #ffffff;
}

.slider h2 {
   width: 700px;
   margin: 0 auto;
   margin-bottom: 27px;
   font-size: 60px;
   line-height: 60px;
   font-weight: 800;
}

.slider .sl{
  display: inline-block;
  padding: 12px 44px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.slider .sl:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slider .sl:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover {
  background-color: #b2c1b7;
}

.slider-controls label:active {
  background-color: #ffffff;
}

body > input {
  display: none;
}

.slide {
  display: none;
}

#product-1:checked ~ .wrapper {
  background-color: #849d8f;
  background-image: url("../img/main-fon-bg1.png");
}

#product-2:checked ~ .wrapper {
  background-color: #8996a6;
  background-image: url("../img/main-fon-bg2.png");
}

#product-3:checked ~ .wrapper {
  background-color: #9d8b84;
  background-image: url("../img/main-fon-bg3.png");
}

#product-1:checked ~ .wrapper #slide1,
#product-2:checked ~ .wrapper #slide2,
#product-3:checked ~ .wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .wrapper label[for="product-1"],
#product-2:checked ~ .wrapper label[for="product-2"],
#product-3:checked ~ .wrapper label[for="product-3"] {
  background-color: #ffffff;
}
/*--------------Корзина с товаром--------------*/

.basket-full {
  display: none;
  width: 500px;
  background-color: #f8f7f4;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  border-radius: 5px;
  padding: 10px 20px;
  position: absolute;
  top: 50px;
}

.basket-full table {
  width: 500px;
  min-height: 120px;
  border-bottom: #cacac7 1px solid;
  padding-bottom: 10px;
}

.basket-full span {
  color: #a6a6a5;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}

.basket-full td {
  max-width: 180px;
}

.basket-full .bottom {
  vertical-align: bottom;
}

.basket-full table a {
  background-image: url("../img/x.svg");
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  padding: 0 10px;
  background-position: left center;
}

.basket-full p {
  text-align: right;
}

.basket-full .button {
  width: 170px;
  border-radius: 23px;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 10px;
  float: right;
}

.basket-with:hover + .basket-full {
  display: block;
}

.basket-with:hover {
    background-color: #f7f6f3;
    color: #323232;
}

main,
.hits,
.list > .item{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* -----------------Специальные предложения----------------- */
 .stock {
  max-width: 560px;
  min-height: 230px;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 17px 20px;
  margin-bottom: 40px;
}

.stock h2 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 17px;
}

.stock p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 44px;
}

.stock .button {
  float: right;
  font-size: 18px;
  line-height: 24px;
  padding: 10px 25px;
}

.raspberry {
  background-color: #d36586;
  background-image: url("../img/raspberry-fon-min.jpg");
  background-repeat: no-repeat;
}

.chocolate {
  background-color: #25130b;
  background-image: url("../img/chocolate-fon-min.jpg");
  background-repeat: no-repeat;
}
/* ---------------------------------- */

/* --------------Хиты продаж-------------------- */
.hit::before {
  display: block;
  content:"";
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 14px;
  background-color: #fff;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  z-index: 15;
}

main .hits,
.list > .item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: -27px;
  margin-right: -27px;
  width: 1200px;
}

main .item,
.list > .item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 290px;
  padding-left: 11px;
  padding-top: 5px;
  position: relative;
}

.item img,
.list > .item {
  border-radius: 50%;
  margin-bottom: 15px;
  z-index: 10;
}

.item p {
  position: absolute;
  left: 25px;
  top: 195px;
  font-size: 26px;
  z-index: 10;
}

.item b {
  font-size: 40px;
}

.item a {
  font-size: 16px;
  line-height: 22px;
  color: #fefdfd;
  text-align: center;
  margin: 0 20px 10px 10px;
  text-decoration: underline;
  z-index: 10;
}

.item a + a {
  display: none;
  text-decoration: none;
  padding: 10px 17px;
  margin: 0 auto;
  margin-bottom: 20px;
  position: absolute;
  top: 340px;
  left: 50px;
  z-index: 15;
}

.item::after {
  display: none;
  content:"";
  width: 290px;
  height: 405px;
  background-color: #a4b5ab;
  opacity: 0.4;
  border-radius: 7px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.item:hover a + a,
.item:hover::after {
  display: block;
}

.item p + a:hover,
.new-in-blog a:hover,
.useful-information a:hover,
.copyright a:hover {
  color: #e84d37;
}

.shop-info {
  color: #323232;
  border-radius: 15px;
  margin-bottom: 40px;
  margin-top: 35px;
  padding: 30px 30px 15px 20px;
  background-color: #eddfc5;
  background-image: url("../img/waffle-fon-min1.jpg");
}

.shop-info h2 {
  font-size: 24px;
  line-height: 30px;
  margin: 0;
}

.shop-info ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.shop-info li {
  font-weight: 400;
  max-width: 485px;
  padding-top: 20px;
  padding-left: 60px;
  margin-bottom: 10px;
}

.shop-info .ice-cream {
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
}

.shop-info .foliage{
  background-image: url("../img/foliage.svg");
  background-repeat: no-repeat;
}

.shop-info .beef {
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
}

.shop-info .thermometer {
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
}

.new-in-blog {
  width: 560px;
  min-height: 220px;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 17px 20px;
  margin-bottom: 40px;
  background-image: url("../img/new-in-blog-min.jpg");
  background-repeat: no-repeat;
  color: #323232;
}

.new-in-blog h2 {
  font-size: 16px;
  line-height: 22px;
}

.new-in-blog a {
  display: block;
  max-width: 285px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: underline;
  background: none;
  color: #323232;
}

.border {
  width: 560px;
  min-height: 220px;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 5px;
  background: repeating-linear-gradient(-45deg, #f8f7f4, #f8f7f4 10px, #fe9e90 10px, #fe9e90 20px, #92cdff 20px, #92cdff 30px);
  background-repeat: repeat-x;
  margin-bottom: 40px;
}

.distribution {
  border-radius: 15px;
  height: 210px;
  box-sizing: border-box;
  background-color: #f8f7f4;
  padding: 29px 20px;
}

.distribution p {
  margin: 0;
  font-weight: 400;
  color: #5a5a5a;
  margin-bottom: 36px;
}

.distribution input {
  height: 44px;
  width: 368px;
  box-sizing: border-box;
  border: #d3d3d2 1px solid;
  border-radius: 3px;
  padding-left:15px;
}

.distribution button {
  padding: 10px 18px 10px 18px;
  margin-left: 10px;
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
}

.contacts {
  width: 1200px;
  height: 435px;
  margin: 0 -25px 35px -25px;
  background-image: url("../img/map-min.jpg");
  background-repeat: no-repeat;
}

.contacts .info {
  width: 305px;
  height: 305px;
  box-sizing: border-box;
  background-color: #fffefe;
  border-radius: 15px;
  float:right;
  padding: 30px 25px 30px 25px;
  margin-right: 25px;
  margin-top: 60px;
  color: #323232;
}

.contacts h2 {
  display: block;
  max-width: 150px;
  min-height: 30px;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.contacts .address {
  margin:0;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contacts .phone {
  display: block;
  max-width: 175px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin:0;
  margin-bottom: 3px;
}

.contacts .address,
.contacts span {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contacts .button {
  padding: 0;
  margin-top: 22px;
  padding: 10px 25px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

footer {
  width: 1150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social-button {
  display: flex;
  min-width: 186px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.social-button a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #c2cec7 2px solid;
  border-radius: 50%;
  margin-right: 12px;
}

.social-button path:hover {
  fill: #fff;
}

.social-button path:active {
  fill: #e9e9e9;
}

.useful-information {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width:330px;
  position: relative;
  height: 40px;
  }

.useful-information a {
  text-decoration: underline;
  color: #fff;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.useful-information .useful-current::before {
  content:"";
  display: block;
  width: 17px;
  height: 15px;
  position: absolute;
  left: -20px;
  top: 2px;
  background-image: url("../img/for-supplier.svg");
  background-repeat: no-repeat;
  font-weight: 700;
}

.copyright {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;

  width:190px;
  margin-top: -17px;
  margin-bottom: 25px;
}

.copyright a {
  color: #fefefe;
}

.copyright p {
  margin: 0;
}

.copyright a:hover path,
.copyright a:hover rect {
  fill: #e84d37;
}
/* -------------Модальная форма главной страницы-------------- */
.modal {
  display: none;
  width: 480px;
  background-color: #f8f7f4;
  border-radius: 15px;
  padding: 20px 25px 25px 25px;
  position: fixed;
  top: 340px;
  left: 50%;
  z-index: 20;
  margin-left: -240px;
}

.modal-close {
  margin:0;
  padding: 0;
  width: 20px;
  height: 20px;
  border-radius: 0;
  background: none;
  box-shadow: none;
  cursor: pointer;
  font-size: 0;
  border: 0;
  position: absolute;
  top: 17px;
  right: 17px;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  width: 21px;
  height: 2px;
  background-color: #231f20;
  top: 8px;
  right: 0px;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal h2 {
  display: inline-block;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
  margin: 0;
  margin-bottom: 20px;
}

.modal input[type="text"],
.modal input[type="email"] {
  box-sizing: border-box;
  width: 270px;
  padding: 14px;
  border: #d3d3d2 2px solid;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
  margin: 0;
  margin-bottom: 20px;
}

.modal textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 14px;
  border: #d3d3d2 2px solid;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
  margin-top: -15px;
}

.modal .button {
  float: right;
  padding: 12px 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #fefefe;
}

.modal-close:hover::before,
.modal-close:hover::after {
  height: 3px;
  background: #000;
  }

.modal-close:active::before,
.modal-close:active::after {
    height: 3px;
    background: #000;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/*--------------Breadcrumbs--------------*/

.breadcrumbs {
  position: absolute;
  top: 110px;
}

.breadcrumbs ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 225px;
}

.breadcrumbs li {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  list-style: none;
}

.breadcrumbs a {
  text-decoration: underline;
  color: #fff;
}

.breadcrumbs .breadcrumbs-current{
  text-decoration: none;
}

.container h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 20px;
}

.filter form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 35px;
}

/*--------------Ползунок--------------*/
.marker-left,
.marker-right {
  width: 4px;
  height: 4px;
  border: #fff 8px solid;
  border-radius: 50%;

  background-color: #ababab;
}

.line-bold {
  width: 80px;
  height: 4px;

  background-color: #f8f7f4;
}

.line {
  width: 176px;
  height: 4px;

  background-color: #d1dad3;
}

.filter legend,
.filter p,
.filter option {
  font-size: 14px;
  line-height: 16px;
}

.filter input[radio],
.filter input[checkbox] {
  font-size: 16px;
  line-height: 18px;
}

.filter option {
  font-weight: 400;
  color: #323232;
}

.filter button {
  font-size: 16px;
  font-weight: 18px;
  background-color: #a6b7ad;
  color: #fff;
  width:140px;
  height: 30px;
  border: #fbfcfb 2px solid;
  border-radius:10px;
}

.filter select {
  background-color: #849d8f;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*--------------Листалка--------------*/

/* .pagination-list {
  margin: -10px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
  min-width: 190px;
  margin-left: 960px;
  margin-bottom: 30px;
}

.pagination-list li a {
  display: block;
  width: 22px;
  height: 22px;
  font-size: 16px;
  font-weight: 18px;
  color: #323232;
  text-align: center;
}

.pagination-list .current {
  background-color: #fff;
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

.pagination-list :first-child {
  color: #9bafa4;
} */

/*
.gallery {
  min-height: 530px;
  margin-bottom: 35px;
}

} */
